.button {
  background: #2A85DF;
  padding: .24rem 0;
  border-radius: 4px;
  width: 120px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
}

.hint-wrap {
  text-align: center;
  color: #fff;
}

.icon-fullscreen {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: .8rem;
  color: #fff;
}
